* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.title {
    color: #085394;
    height: auto;
    width: 100%;
    text-align: center;
}

.sectionContainer {
    height: auto;
    width: 100%;
    background-color: #085394;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    justify-items: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.subTitle {
    width: 100%;
    height: auto;
    background-color: #085394;
    color: white;
    text-align: center;
}

.card {
    border: solid 1px transparent;
    height: 350px;
    width: 100%;
    max-width: 300px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 20px;
}

.img {
    width: 100%;
    height: auto;
}

.containerDesplegable {
    background-color: white;
    width: 100%;
    height: 260px;
    position: absolute;
    z-index: 99;
    bottom: 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    overflow: hidden;
    gap: 10px;
    padding-left: 5px;
    animation: moveDown 0.5s ease-in-out forwards;
}

@keyframes moveDown {
    0% {
        height: 260px;
    }

    100% {
        height: 60px;
    }
}

.headerCard {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bodyText {
    height: auto;
    width: 100%;
    padding-left: 5px;
}

.active {
    animation: moveUp 0.5s ease-in-out forwards;
}

@keyframes moveUp {
    0% {
        height: 60px;
    }

    100% {
        height: 260px;
    }
}

.starList {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.btnCard {
    background-color: #085394;
    color: white;
    border: solid 1px transparent;
    cursor: pointer;
}

.rotate {
    animation: spin 0.5s ease-in-out forwards;
}

@keyframes spin {
    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(180deg);
    }
}

/* -------- loading css -------- */
.loadingModal {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

#spinner {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: solid 2px white;
    border-left: solid 2px #f1c232;
    animation: spin 0.5s ease-in-out infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* ---------------- */