html{
    font-size: 16px;
}
/*--- css for navbar ---*/
header{
    box-shadow: 0px 0px 10px 2px;
}
nav{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 99;
    background-color: white;
}
.linkList{
    height: auto;
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navLinks{
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    list-style: none;
    color: white;
    cursor: pointer;
}
.navLinks :hover {
    background-color: #085394;
    color: white;
}
.navLinks>a{
    text-decoration: none;
    color: #085394;
}
#navLogo{
    height: auto;
    width: 150px;
}
.hamburguerMenu {
    height: 20px;
    width: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.btnCloseMenu {
    position: relative;
    height: 20px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}
.btnCloseMenu > span:nth-child(1){
    position: absolute;
    transform: translateY(-8px);
    animation: firstBar 0.5s 0.25s ease-in-out forwards;
}
.btnCloseMenu>span:nth-child(2) {
    position: absolute;
    animation: secondBar 0.25s ease-in-out forwards;
}
.btnCloseMenu>span:nth-child(3) {
    position: absolute;
    transform: translateY(8px);
    animation: thirdBar 0.5s 0.25s ease-in-out forwards;
}
@keyframes firstBar {
    0% {transform: translateY(-8px) rotate(0deg);}
    100% {transform: translateY(0px) rotate(50deg);}
}
@keyframes secondBar {
    0% {transform: translateX(0px)}
    100% {transform: translateX(-26px)}
}
@keyframes thirdBar {
    0% {transform: translateY(8px) rotate(0deg);}
    100% {transform: translateY(0px) rotate(-50deg);}
}
.bar {
    width: 100%;
    height: 4px;
    background-color: #f1c232;
}
/* media query */
@media (max-width: 600px) {
    .linkList{display: none;}
    .activeNav{
        position: fixed;
        top: 0px;
        left: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 0px;
        height: 100vh;
        z-index: 100;
        background-color: #f1c232;
        overflow: hidden;
        gap: 20px;
        animation: displayNav 0.5s ease-in-out forwards;
    }
    @keyframes displayNav {
        0%{width: 0px;}
        100% {width: 250px;}
    }
    .navLinks > a {color: white;}   
}

/* --------------------  */

/*--- css for footer ---*/
footer{
    height: auto;
    width: 100%;
    background-color: #085394;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px auto 100px ;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.footerColumns{
    list-style: none;
}
.footerLinks{
    color: white;
    text-decoration: none;
}
.footerLinks:hover{
    color: white;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}
.footerIcon{
    height: 25px;
    width: 25px;
}
#footerTitle{
    grid-row: 1/2;
    grid-column: 1/5;
}
#footerColumnAboutUs {
    grid-row: 2/3;
    grid-column: 1/2;
}
#footerColumnHotel {
    grid-row: 2/3;
    grid-column: 2/3;
}
#footerColumnContact {
    grid-row: 2/3;
    grid-column: 3/4;
}
#footerColumnDestinos {
    grid-row: 2/3;
    grid-column: 4/5;
}
#SocialListIcons{
    grid-row: 3/4;
    grid-column: 4/5;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
.socialMediaLink{
    height: auto;
    text-decoration: none;
    border-bottom: 2px solid transparent;
}
/* animación en los iconos de redes sociales */
.socialMediaLink:hover{
    border-bottom: 2px solid white;
}
.socialMediaLink>svg:hover{
    transition: 0.25s ease-in-out;
    transform: translateY(-5px);
}
/* media queries */
@media (max-width: 700px) {
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto 100px;
        justify-items: flex-start;
        padding: 5px;
        row-gap: 15px;
    }
    .footerIcon {
        height: 20px;
        width: 20px;
    }
    #footerTitle {
        grid-row: 1/2;
        grid-column: 1/3;
    }
    #footerColumnAboutUs {
        grid-row: 2/3;
        grid-column: 1/2;
    }
    #footerColumnHotel {
        grid-row: 2/3;
        grid-column: 2/3;
    }
    #footerColumnContact {
        grid-row: 3/4;
        grid-column: 1/2;
    }
    #footerColumnDestinos{
        grid-row: 3/4;
        grid-column: 2/3;
    }
    #SocialListIcons {
        grid-row: 4/5;
        grid-column: 1/3;
    }
}
/* --------------------  */

/*--- css for index page ---*/
#index{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: 100%;
}
#favIcon{
    position: absolute;
    top: 10px;
    right: 10px;
    height: auto;
    width: 100px;
    z-index: 100;
}
/*------------*/
.subTitle{
    background-color: #f1c232;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 4px;
    margin-top: 10px;
}
.cardContainer{
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    justify-items: center;
    padding: 50px;
    gap: 4rem;
    margin-bottom: 1rem;
}
.cardPromociones{
    height: auto;
    width: 100%;
    max-width: 450px;
    box-shadow: 0px 0px 2px 2px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    scroll-snap-align: center;
}
.cardPromociones > .text{
    color: #085394;
    font-weight: bold;
    justify-self: center;
    align-self: center;
    font-size: 1rem;
}
.offerIcon{
    height:50px;
    width: 50px;
    position: absolute;
    font-size: 12px;
    font-weight: bold;
    color: white;
    top: 6px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: red;
}
.imgCardPromociones{
    width: 100%;
    height: auto;
    grid-column: 1/3;
    grid-row: 1/2;
}
.cardPromociones > .cardTitle{
    width: 90%;
    height: auto;
    grid-column: 1/3;
    grid-row: 2/3;
    text-align: center;
    font-weight: bold;
    font-size: 1.25rem;
    font-family: sans-serif;
    padding: 0.5rem;
    border-bottom: solid 2.5px #f1c232;
    justify-self: center;
}
.btnCardPromociones{
    grid-column: 1/3;
    grid-row: 4/5;
    align-self: flex-end;
    height: auto;
    width: 100%;
    background-color: #085394;
    color: white;
    border: solid 1px transparent;
    font-size: 1.25rem;
    transition: 0.2s ease-in-out;
    padding: 0.5rem;
    cursor: pointer;
}
.starList{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
@media (min-width:1200px){
    #favIcon{
        position: absolute;
        top: 10px;
        right: 10px;
        height: auto;
        width: 200px;
        z-index: 100;
    }
}
@media (max-width: 500px){
    .cardContainer{
        height: auto;
        width: 100%;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        overscroll-behavior-x: contain;
        display: grid;
        grid-auto-flow: column;
        justify-items: flex-end;
        gap: 25px;
        padding: 25px;
        padding-left: 5px;
    }
    .cardPromociones{
        height: auto;
        width: 240px;
        box-shadow: 0px 0px 2px 2px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        overflow: hidden;
        display: grid;
        grid-template-columns: 1fr 1fr;
        position: relative;
        scroll-snap-align: center;
    }
}
/* --------------------  */

/* css for servicios page */
#pageServicios{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 10px;
}
#pageServicios card{
    height: auto;
    width: 95%;
    max-width: 550px;
    display: grid;
    grid-template-columns: 250px 1fr;
    box-shadow: 0px 0px 15px 1px;
    position: relative;
    opacity: 0;
    transform: translateX(-10vw);
    transition: 0.5s ease-in-out;
}

#pageServicios card .cardBody h3{
    font-size: 1rem;
}
#pageServicios  card  img{
    width: 100%;
    height: auto;
    grid-column: 1/2;
}
#pageServicios  card  .cardBody{
    width: 100%;
    height: auto;
    background-color: #085394;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
}
#pageServicios  card  .icon{
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    width: 30px;
    height: 30px;
}
.serviciosCardLink{
    color: white;
    text-decoration: none;
    font-size: 1rem;
}
.serviciosCardLink:hover{
    cursor: pointer;
    text-decoration: underline;
}
@media (min-width: 1200px){
    #pageServicios card .cardBody h3{
        font-size: 1.5rem;
    }
    .serviciosCardLink{
        color: white;
        text-decoration: none;
        font-size: 1.5rem;
    }
    #pageServicios  card{
        max-width: 800px;
        grid-template-columns: 400px 1fr;
        font-size: 10px;
    }
    #pageServicios card .cardBody p{
        font-size: 1.5rem;
        padding-left: 4px;
    }
    #pageServicios  card  .cardBody {
        font-size: 12px;
    }
    #pageServicios  card  .icon{
        width: 40px;
        height: 40px;
        fill: white;
        top: 0px;
        right: 5px
    }
}
@media (max-width: 600px){
    #pageServicios  card{
        width: 100%;
        grid-template-columns: 150px 1fr;
        font-size: 10px;
    }
    #pageServicios  card  .cardBody {
        font-size: 12px;
    }
    #pageServicios  card  .icon{
        width: 20px;
        height: 20px;
        fill: white;
        top: 0px;
        right: 5px
    }
}
/* --------------------  */

/* css for contacto page */
#formConsulta{
    width: 100%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* --------------------  */

/* css for destinos page */
#explorarPage{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 10px;
}
#sectionPortada{
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/onemoretravel-logo.png);
}
#sectionPortada img{
    width: 100%;
    height: auto;
}
.portadaContent{
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 1200px;
    padding-bottom: 10px;
    background: rgb(240,244,245);
    background: linear-gradient(90deg, rgba(240,244,245,0) 0%, rgba(0,0,0,0.513509627483806) 50%, rgba(255,255,255,0) 100%);
}
.portadaContent h2{
    color: white;
    background-color: transparent;
    font-size: 1.5rem;
}
.portadaContent h4{
    color: white;
    background-color: transparent;
    font-size: 1.5rem;
}
.sectionDestinos{
    position: relative;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}
.scrollXcontainer{
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    justify-items: center;
    overscroll-behavior-x: contain;
    gap: 25px;
    padding: 20px;
}
.scrollXcontainer .card{
    height: auto;
    width: 100%;
    max-width: 500px;
    scroll-snap-align: center;
}
@media (min-width: 1300px) {
    .scrollXcontainer{
        height: auto;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px,1fr));
        justify-items: center;
        overscroll-behavior-x: contain;
        gap: 25px;
        padding: 20px;
    }
}
@media (max-width: 500px) {
    .scrollXcontainer{
        grid-auto-flow: column;
        overflow: auto;
        scroll-snap-type: x mandatory;
        overscroll-behavior-x: contain;
        justify-items: flex-end;
        gap: 40px;
    }
    .scrollXcontainer .card{
        height: auto;
        width: 300px;
        scroll-snap-align: center;
    }
}
/* --------------------  */

/*--- css for general use ---*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    scroll-behavior: smooth;
}
h1{
    width: 100%;
    height: auto;
    text-align: left;
    color: white;
    background-color: #f1c232;
    padding: 5px;
    margin-bottom: 15px;
    font-size:2rem;
}
h2{
    width: 100%;
    height: auto;
    text-align: left;
    color: white;
    background-color: #f1c232;
    padding: 5px;
    margin-top: 1.5rem;
}
button:hover{
    cursor: pointer;
}
.scrollCustomizedVertical::-webkit-scrollbar{
    width: 5px;
}
.scrollCustomizedVertical::-webkit-scrollbar-track {
    background-color: rgb(190, 184, 184);
}
.scrollCustomizedVertical::-webkit-scrollbar-thumb {
    background-color: #f1c232;
    border-radius: 10px;
}
.scrollCustomizedHorizontal::-webkit-scrollbar{
    height: 5px;
}
.scrollCustomizedHorizontal::-webkit-scrollbar-track {
    background-color: rgb(190, 184, 184);
}
.scrollCustomizedHorizontal::-webkit-scrollbar-thumb {
    background-color: #f1c232;
    border-radius: 10px;
}
/* -------- scrollTop css -------- */
#btnScrollTop{
    height: 40px;
    width: 40px;
    background-color: whitesmoke;
    border: solid 1px transparent;
    position: fixed;
    right: 10px;
    bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.4;
}
#btnScrollTop:hover{
    opacity: 1;
    box-shadow: 0px 0px 2px 2px;
    cursor: pointer;
}
.btnScrollTopIcon{
    height: 25px;
    width: 25px;
}
/* ---------------- */
/* -------- scrollAnimation css -------- */
.scrollAnimationFadeIn{
    opacity: 1 !important;
    transform: translateX(0) !important;
    border: solid 1px black;
}
/* ---------------- */
.hide {display: none !important;}
.iconsList{
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* -------- para sobreescribir bootstrap css -------- */
.card{
    box-shadow: 0px 0px 10px 1px;
}
.card-link{
    color: #085394;
    text-decoration: none;
    font-weight: bold;
}
.row{
    margin: 0;
}
.carousel{
    height: auto;
    overflow: none;
}
.carousel-item{
    /* 
        -hace que el carrusel tenga una height auto y se adapte al tamaño de las imagenes.
        Nota: para que funcione es importante que las imagenes tengan las mismas dimensiones (b x h)
    */
    height: auto;
    max-height: 800px;
}
.carouselLabel{
    background-color: #f1c232;
    border-radius: 20px;
    text-align: left;
    padding: 2px 15px 2px 15px;
    width: fit-content;
    cursor: pointer;
}
@media (min-width: 1200px) {
    .carouselLabel{
        font-size: 2rem;
    }
}
/* ---------------- */
/* --------------------  */

/*
Por si me sale el error de python2
https://medium.com/starters-publication/how-to-install-python-for-node-ae83c27412cd 
*/