#navbar{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 99;
    background-color: white;
}
#linkList{
    height: auto;
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.links{
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    list-style: none;
    color: white;
    cursor: pointer;
}
.links :hover {
    background-color: #085394;
    color: white;
}
.links>a{
    text-decoration: none;
    color: #085394;
}
#navLogo{
    height: auto;
    width: 150px;
}
#btnCloseMenu{
    display: none ;
}
/* media query */
@media (max-width: 600px) {
    #linkList {
        position: fixed;
        top: 0px;
        left: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 0px;
        height: 100vh;
        z-index: 100;
        background-color: #f1c232;
        overflow: hidden;
        gap: 20px;
        animation: displayMenu 0.5s ease-in-out forwards;
    }
    @keyframes displayMenu {
        0%{width: 0px;}
        100% {width: 200px;}
    }
    .links > a {
        color: white;
    }
    .links:hover{
        padding-left: 15px;
    }
    #navbar {
        justify-content: flex-start;
    }
    #btnCloseMenu{
        display: block;
        position: absolute;
        top: 10px;
        left: 15px;
        z-index: 101;
        background-color: transparent;
        border: solid 1px transparent;
        color: white;
        font-size: 25px;
        font-weight: bold;
    }
}