nav{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 99;
    background-color: white;
}
.linkList{
    height: auto;
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.links{
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    list-style: none;
    color: white;
    cursor: pointer;
}
.links :hover {
    background-color: #085394;
    color: white;
}
.links>a{
    text-decoration: none;
    color: #085394;
}
#navLogo{
    height: auto;
    width: 150px;
}
.hamburguerMenu {
    height: 20px;
    width: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.btnCloseMenu {
    position: relative;
    height: 20px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: closeMenu 0.5s ease-in-out forwards;
}
.btnCloseMenu > span:nth-child(1){
    position: absolute;
    animation: firstBar 0.5s ease-in-out forwards;
}
.btnCloseMenu>span:nth-child(2) {
    position: absolute;
    animation: secondBar 0.5s ease-in-out forwards;
}
@keyframes firstBar {
    0% {transform: translateY(-20px) rotate(0deg);}
    100% {transform: translateY(0px) rotate(50deg);}
}
@keyframes secondBar {
    0% {transform: translateY(20px) rotate(0deg);}
    100% {transform: translateY(0px) rotate(-50deg);}
}
.bar {
    width: 100%;
    height: 4px;
    background-color: #f1c232;
}
/* media query */
@media (max-width: 600px) {
    .linkList{display: none;}
    .activeNav{
        position: fixed;
        top: 0px;
        left: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 0px;
        height: 100vh;
        z-index: 100;
        background-color: #f1c232;
        overflow: hidden;
        gap: 20px;
        animation: displayNav 0.5s ease-in-out forwards;
    }
    @keyframes displayNav {
        0%{width: 0px;}
        100% {width: 250px;}
    }
    .links > a {color: white;}   
}
.hide {
    display: none;
}