* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth; /* me permite dar un efecto de scroll automatico suave*/
}
.title {
    color: #085394;
    height: auto;
}
.cardSubTitle{
    font-weight: bold;
    width: 100%;
    grid-column: 1/2;
    grid-row: 1/2;
    padding-left: 20px;
}
.iconsList{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.cardContainer{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.cardServicios{
    width: 90%;
    max-width: 900px;
    height: 400px;
    border: solid 2px #085394;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    position: relative;
}
.contenedorImg{
    width: 90%;
    height: 300px;
    overflow: hidden;
    grid-column: 1/2;
    grid-row: 2/3 ;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    align-self: flex-start;
    position: relative;
}
.img{
    width: 100%;
    height: auto;
    position: absolute;
}
.cardText{
    width: 90%;
    height: auto;
    grid-column: 2/3;
    grid-row: 2/3;
}
.icon{
    position: absolute;
    top: 5px;
    right: 5px;
}

/* -------- loading css -------- */
.loadingModal {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

#spinner {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: solid 2px white;
    border-left: solid 2px #f1c232;
    animation: spin 0.5s ease-in-out infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* ---------------- */