/* base colors*/
$color-yellow:#f1c232;
$color-white: white;
$color-blue: #085394;

/* colors for btns */
$color-primary-btn: #085394;
$color-secondary-btn: white;

/* colors for page header */
$color-primary-header: #f1c232;
$color-secondary-header: white;

/* colors for page card */
$color-primary-card: #085394;
$color-secondary-card: white;
