@import '../variables/colors.scss';
@import '../variables/fonts.scss';

/*estilos base para el btn de la card*/
.btn-default{
    border: solid 1px transparent; 
    border-radius: 5px;
    height: auto;
    width: 200px;
    text-decoration: none;
    padding: 0.5rem;
    font-weight: bold;
    font-size: 1rem;
    font-family: map-get($fuentes , btn_text );
    @media  (min-width:1200px) {
        font-size: 1.25rem;
    }
    
}

/*la funcion cardBtn sostiene todos los estilos que lleva el btn de la card*/
@mixin cardBtn($font-color,$background-color) {
    @extend .btn-default;
    background-color: $background-color ;
    color: $font-color;
}

@mixin cardBtn-hover($font-color,$background-color) {
    background-color: $background-color ;
    color: $font-color;
    border: solid 1px $font-color; 
}

a{
    &.blueCard{
        @include cardBtn($color-primary-btn, $color-secondary-btn)
    }
    &.blueCard:hover{
        @include cardBtn-hover($color-secondary-btn, $color-primary-btn)
    }

    &.whiteCard{
        @include cardBtn($color-secondary-btn, $color-primary-btn)
    }
    &.whiteCard:hover{
        @include cardBtn-hover($color-primary-btn, $color-secondary-btn)
    }
}

