@import '../variables/colors.scss';

div{
    &.card{
        width: 100%;
        max-width: 450px;
        margin: 0;
        padding: 0;
        @media  (min-width:1200px) {
            max-width: 700px;
            .col-sm-8{
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        &.cardBlue{
            background-color: $color-primary-card;
            h5,p{
                color: $color-secondary-card;
            }
        }
        &.cardWhite{
            background-color: $color-secondary-card;
            h5,p{
                color: $color-primary-card;
            }
        }
        
    }
}

/* https://www.sassmeister.com/ */

